.header {
  width: 100vw;
  background-color: var(--background-color);
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  font-family: var(--font);
  margin: auto;
  border-radius: 0 0 15px 15px;
  transition: background-color 0.3s ease-in-out;
  background-color: var(--color-text-Carol-light);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 1em 1em;
  gap: 0.5rem;
}

.menu a {
  border: 1px solid transparent;
  padding: 0 10px;
  text-decoration: none;
  color: var(--background-color);
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  transition: border 0.5s ease-in-out;
  white-space: nowrap;
}

.menu a:hover {
  border-left: 1px solid var(--background-color);
  border-right: 1px solid var(--background-color);
}

.Home {
  background-color: var(--color-text-Carol-light);
}

.Eventos {
  background-color: var(--color-text-Carol-light);
}

.Potencialize {
  background-color: #76887480;
}

.Fenix {
  background-color: #54393980;
}

.Branding {
  background-color: #ac848580;
}
.linkInsta {
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 3;
  opacity: 50%;
  transition: 0.3s ease-in-out;
}

.linkInsta img {
  width: 40px;
}
.linkInsta:hover {
  opacity: 100%;
}

@media (max-width: 768px) {
  .navbar {
    left: 50%;
    flex-wrap: nowrap;
  }

  .menu a {
    font-size: 12px;
    padding: 0.5rem 0;
    border: none;
  }

  .menu a:hover {
    border: none;
    text-decoration: underline;
  }
}
@media (max-width: 500px) {
  .menu a {
    font-size: 10px;
  }
}
